.heading-1
{
  font-size: 32px;
    font-family: NoticiaText;
color: #0077b6;
}
div > ul> li > a
{
  font-size: 24px;
    font-family: NoticiaText;
    font-weight: bold;
line-height: 50px;
}
div > ul > li > ul > li > a
{
  font-size: 20px;
    font-weight: 300;
}

a
{
  text-decoration: none;
color: #023e8a;
}
p
{
font-size: 32px;
    font-family: NoticiaText;
}
body {
    margin: 0px !important;
}